Bug in complex device component based discovery

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Refer to GLUE ISO/IEEE 11073-20701:2020, section 9.2 "Complex Device Component Based Discovery".

This URI can result from a CodedValue that specifies a CodingSystemVersion but no CodingSystem.

When parsing this URI using, for example, Python's urllib module (as done in `match_scope` in `wsdimpl.py`), the result is:

```
urllib.parse.urlsplit("sdc.cdc.type://v1/69650")
>>> SplitResult(scheme='sdc.cdc.type', netloc='v1', path='/69650', query='', fragment='')
```

According to RFC 3986 ("Uniform Resource Identifier (URI): Generic Syntax"), `v1` is correctly interpreted as the URI authority (netloc).

However, this behavior leads to an incorrect interpretation of the scope being evaluated, since `v1` is intended to represent the coding system version rather than the URI authority.

It is suggested to use a RegEx to parse/evaluate the "URI" defined by GLUE.

To avoid ambiguities caused by standard URI parsers, it is suggested to use a regular expression to parse and evaluate the URI format defined by GLUE instead of relying on generic URI parsing libraries.

When implementing such a parser, percent-encoded URI components must be decoded before evaluation. For example, the following URI also appears to be valid according to the GLUE encoding rules: `sdc.cdc.type://v%31/69650`
Therefore, the version component must be URI-decoded prior to comparison:
```unquote('v%31')  # -> 'v1'.```

Also refer to GLUE 9.3 "SDC PARTICIPANT KEY PURPOSE based discovery" and 9.4 "Context-based discovery". Similar handling of scope strings may be required for the URI formats defined in these sections.

To ensure consistent scope matching, the same parsing, normalization, and percent-decoding logic should be applied before evaluating or comparing scope values. Otherwise, equivalent scope strings could be interpreted differently depending on the parser that is used, potentially resulting in incorrect discovery behavior.

When adapting it might me suitable to also adapt `_get_device_component_based_scopes()` in `scopesfactory.py`. Here also the `Translations` of a `CodedValue`  should be transformed into a scope. Refer to GLUE section 9.2 NOTE 5.

### Expected Behavior

see above

### Minimal Reproducible Example

_No response_

### Solution proposal

_No response_

### Python Version

3.13

### Operating system

-

### Sdc11073 Version

master

### Link to sdc11073 Logs

_No response_

### Further Information

_No response_

### Participation

- [ ] I am willing to submit a pull request to fix this bug.